---
import Layout from '../../layouts/Layout.astro'
import Lay2 from '@layouts/Lay2.astro'
import Card from '../../components/Card.astro'
import Card2 from '../../components/Card2.astro'
import { getAllPosts } from '../../lib/cosmic'
import { Image } from 'astro:assets'
import { getFeaturedPost } from '../../lib/cosmic'

interface Props {
  title: string
  slug: string
  metadata: {
    cover_image: {
      url: string
      imgix_url: string
    }
    excerpt: string
    tags: {
      title: string
      metadata: {
        color?: string
      }
    }[]
   
  }
}

const data = await getAllPosts()
const featuredPost = await getFeaturedPost()
const tags = featuredPost.metadata.tags
---

<Lay2 title="Artículos">
  <h1 class="text-2xl font-semibold text-zinc-50  font-consolas mx-auto justify-center items-center text-center">Artículos</h1>
  <div class="my-4"></div>
  <section class="rounded-md bg-transparent">
    <a
      href={`blog/${featuredPost.slug}`}
      class="transition-opacity hover:opacity-80">
      { featuredPost.metadata.cover_image && (
          <Image
            src={featuredPost.metadata.cover_image.imgix_url}
            format="webp"
            width={300}
            height={275}
            alt="Featured Blog Post"
            class={'rounded-t-md items-center justify-center mx-auto bg-transparent'}
            loading="eager"
            transition:name="cover image"
          />
        )
      }
      <div
        class="flex h-fit flex-col gap-y-2 rounded-md bg-transparent mx-auto items-center justify-center p-6 border-b-2 border-zinc-50">
        <h2 class="text-2xl font-semibold text-zinc-50 font-mono">{featuredPost.title}</h2>
        <p class="text-md text-zinc-50">{featuredPost.metadata.excerpt}</p>
        {
          tags && (
            <div class="flex flex-wrap gap-1">
              {tags?.map(
                (tag: { title: string; metadata: { color?: string } }) => (
                  <span
                    class="w-fit whitespace-nowrap rounded-md bg-black px-2 text-sm font-italic text-white shadow transition"
                    style={`background-color: ${tag.metadata.color}`}>
                    {tag.title}
                  </span>
                )
              )}
            </div>
          )
        }
      </div>
    </a>
  </section>
  <div class="my-6"></div>
  <ul class="grid  gap-y-8 md:grid-cols-3">
    {
      data
        .filter((post: Props) => post.title !== featuredPost.title)
        .map((post: Props) => (
          <Card2

          img={post.metadata.cover_image.imgix_url}
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            tags={post.metadata.tags.map((tag) => tag)}
            
          />
        ))
    }
  </ul>
</Lay2>
